@import url(../../../css-study/common.css);

body {
  font-weight: 700;
  margin: 0 40px;
  background: gray;
}

/* header style */
#wrapper header h1 {
  background: #123456;
  color: yellow;
  padding: 50px;
  text-align: center;
  font-size: 1.5em;
}

#wrapper header h1 strong {
  color: #fff;
  font-size: 3em;
}

#wrapper header h1 span {
  font-size: 2em;
}

#wrapper header h1 em {
  color: #fff;
  font-size: 2.5em;
}

/* container style */
#wrapper div.container {
  background: wheat;
}

/* menu style */
#wrapper ul.menu {
  float: left;
  width: 20%;
  padding: 20px;
}

#wrapper ul.menu li {
  text-decoration: underline;
  padding: 10px;
}

/* content style */
#wrapper div.content {
  float: left;
  width: 80%;
}

#wrapper div.content h2 {
  color: yellow;
  background: red;
  padding: 10px 20px;
  font-size: 1.5em;
}

#wrapper div.content p {
  padding: 20px;
  font-weight: 50;
  line-height: 25px;
  font-size: 15px;
  background: #fff;
}


/* footer style */
#wrapper footer {
  padding: 20px 30px;
  background: blanchedalmond;
  font-weight: 100;
}